venv/
.venv/
litres_parser/venv/

__pycache__/
*.py[cod]

*.sqlite
*.sqlite3
*.db

*.xlsx

.pytest_cache/
.mypy_cache/
.ruff_cache/

venv/
__pycache__/
*.pyc
*.pyo
*.pyd

chromedriver-win64/
*.xlsx
*.sqlite
*.db
*.log


